<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{book.title}}</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem pariatur nihil enim, obcaecati eius cumque ad, at illum doloribus, suscipit beatae quos incidunt provident recusandae culpa voluptatem minus laudantium optio alias quae rem amet eveniet voluptates. Sit quidem similique alias quasi ut fuga, sunt impedit asperiores facilis eius culpa nemo! Officia suscipit voluptatibus sunt blanditiis ab ex autem veniam, vel earum temporibus. Sint deserunt aliquid magnam voluptatem ipsam beatae quisquam exercitationem, et necessitatibus molestias, ut totam eos fuga at ipsum cupiditate architecto reiciendis accusantium inventore maxime accusamus velit. Reprehenderit non, tempora, cum nemo ipsum beatae error, vitae temporibus pariatur quasi dolorum doloribus magni quaerat! Laboriosam rem libero sed cum fugiat. Perferendis, aspernatur mollitia.
    </p>
</body>
</html>